# `{PACKAGE_NAME}`

{DESCRIPTION}

## Quickstart

```python
import {PACKAGE_NAME}

# ...
```


## Installation

`$ pip install {PACKAGE_NAME}`


## Requirements

* Python 3.6+


## Tests

```shell
$ git clone git@github.com:{GH_USERNAME}/{PACKAGE_NAME}.git
$ cd {PACKAGE_NAME}
$ poetry install
$ poetry shell
$ pytest .
```


## Docs

```shell
$ git clone git@github.com:{GH_USERNAME}/{PACKAGE_NAME}.git
$ cd {PACKAGE_NAME}
$ poetry install
$ poetry shell
$ cd docs
$ make html
```


## License

New BSD
